<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <commerce_health_check>
            <general>
                <module_enabled>1</module_enabled>
                <alerts_enabled>0</alerts_enabled>
                <alert_checks>redis,cron,disk,integration</alert_checks>
            </general>
            <consumers>
                <required_consumers>async.operations.all,inventory.source.items.cleanup</required_consumers>
            </consumers>
            <integrations>
                <endpoints></endpoints>
            </integrations>
            <thresholds>
                <cron_lookback_minutes>15</cron_lookback_minutes>
                <disk_warning_gb>10</disk_warning_gb>
                <disk_critical_gb>5</disk_critical_gb>
            </thresholds>
            <email>
                <enabled>0</enabled>
                <recipient></recipient>
            </email>
            <slack>
                <enabled>0</enabled>
                <webhook_url></webhook_url>
                <channel>#commerce-alerts</channel>
            </slack>
        </commerce_health_check>
    </default>
</config>
