<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="amaresh_commerce_health_check_menu"
                type="Amaresh\CommerceHealthCheck\Plugin\Backend\Model\Menu\BuilderPlugin"
                sortOrder="100"/>
    </type>
</config>
